/* BASE CSS */
body {
  background: rgb(240, 240, 240);
  color: rgb(20, 20, 20);
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 60px;
  color: red;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: none;
  color: green;
}

/* CUSTOM */
#banner {
  /* background-image: url("https://unsplash.it/1000/600"); */
  background-image: linear-gradient(
      135deg,
      rgba(179, 179, 179, 0.4) 0%,
      rgba(50, 29, 9, 0.6) 50%
    ),
    url("images/black.jpg");
  padding: 100px 0;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

#banner h1 {
  color: white;
  text-shadow: 1px 1px 1px rgb(49, 49, 49);
  padding-top: 30px;
}

#banner h2 {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  font-style: italic;
  padding: 40px;
}

#banner a {
  font-size: 20px;
}

.card {
  padding: 50px;
}

#footer {
  background: black;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

#footer a {
  font-size: 30px;
  color: rgb(208, 208, 208);
  padding: 0 15px;
}

#footer a:hover {
  color: white;
}
